# Dependencies
node_modules/
.pnp/
.pnp.js

# Logs
logs/
*.log

# Cache
cache/
.cache/
.turbo/

# Temporary
tmp/
temp/

# Environment
.env
.env.*
!.env.example

# Build
dist/
build/
.next/
out/
.expo/

# Coverage
coverage/

# Archives
*.zip
*.tar
*.gz

# Backup
*.bak

# Swap
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/

# PNPM
.pnpm-store/

# TypeScript
*.tsbuildinfo